body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #00796b;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #004d40;
}

input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #004d40;
    border-radius: 5px;
}

.drink-counter {
    margin-bottom: 20px;
}

button {
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#alcButton {
    background-color: #004d40;
    color: #ffffff;
}

#waterButton {
    background-color: #00796b;
    color: #ffffff;
}

.status {
    font-size: 18px;
}

#motivationMessage {
    margin-top: 20px;
    color: #00796b;
}
